- var root_path = relative_base(file_path, context)
- root_path = (root_path == "./") ? root_path : root_path.replace(/[^\/]+/g, '..')
!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    style !{css}
    link(rel='stylesheet', href="#{root_path}docs.css")
  body
    if context.sources.length > 0
      include menu
    .container
      h1 #{title}
        small #{relative_base(file_path, context)}
      each section, i in sections
        .row
          .docs !{section.docs}
          .code
            if section.code != ''
              pre
                code !{section.code}
    if context.config.show_timestamp
      footer Generated #{new Date()}
