!!! 5
html
  head
    title
      if title && project.name
        #{title} | #{project.name}
      else if project.name
        #{project.name}
      else if title 
        #{title}
    meta(charset='utf-8')
    link(rel="stylesheet", href="docs.css")
    if previewCSS
      style(type='text/preview') !{previewCSS}
    if previewJS
      script(type='text/preview') !{previewJS}
  body
    nav.bar.top.cf
      .container
        a.brand(href="index.html") #{project.name}
        ul.menu
          each links, folder in project.menu
            if folder == './'
              each link in links
                li
                  a(href="#{link.href}")
                    #{link.name}
            else
              li
                a.dropdown-toggle(href="#") #{folder}
                ul.dropdown
                  each link in links
                    li
                      a(href="#{link.href}")
                        #{link.name}

    section.container
      each section, i in sections
        - var slug = '';
        - if (title) slug = section.title.toLowerCase().replace(/[^\w ]+/g,'').replace(/ +/g,'-');
        article.section(id="#{slug}")
          .docs
            h1 #{section.title}
            a.permalink.ir(href="##{slug}") #{section.title}
            !{section.docs}
          if section.code
            .code
              pre
                code !{section.code}
    .bar.bottom
      .settings.container
        button.desktop.ir(title="Desktop (1280)",data-width=1280) Desktop
        button.laptop.ir(title="Laptop (1024)",data-width=1024) Laptop
        button.tablet.ir(title="Tablet (768)",data-width=768) Tablet
        button.smartphone.ir(title="Smart phone (320)",data-width=320) Smart phone
        button.featurephone.ir(title="Feature phone (240)",data-width=240) Feature phone
        button.auto.is-active(title="Auto (100%)",data-width="100%") Auto
    script(src="docs.js")
<!-- Generated with StyleDocco (http://jacobrask.github.com/styledocco). -->
