!!! 5
html
  head
    if title == project.name
      title #{project.name}
    else
      title #{title} | #{project.name}
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{project.root}docs.css")
    if css
      style !{css}
  body
    .styledocco-container
      .styledocco-sidebar
        include menu
      .styledocco-content
        h1 #{title}
        if description
          p #{description}
        each section, i in sections
          .styledocco-docs !{section}
include footer
