!!! 5
html
  head
    title
      if title && project.name
        #{title} | #{project.name}
      else if project.name
        #{project.name}
      else if title 
        #{title}
    meta(charset='utf-8')
    if css
      style !{css}
    if js
      script !{js}
  body
    .styledocco-container
      .styledocco-sidebar
        a.styledocco-brand(href="index.html") #{project.name}
        each links, folder in project.menu
          unless folder == './'
            strong.styledocco-nav-heading #{folder}
          ul.styledocco-nav
            each link in links
              li
                a(href="#{link.href}")
                  #{link.name}
      .styledocco-main
        each section, i in sections
          .styledocco-section(id="section-#{i + 1}")
            .styledocco-docs
              a(class='pilcrow', href="#section-#{i + 1}") &#182;
              !{section.docs}
            if section.code
              .styledocco-code
                pre
                  code !{section.code}
<!-- Generated with StyleDocco (http://jacobrask.github.com/styledocco). -->
