div.dox
	div.summary !{description.summary}

	- var hasParams = false, hasReturn = false, hasAPI = false, hasType
	if tags.length
		div.details
			each tag in tags
				if tag.type == "param"
					if !hasParams
						div.dox_tag_title Params
						- hasParams = true
					div.dox_tag_detail 
						span #{tag.name} 
						if tag.types
							each type in tag.types 
								span.dox_type #{type}
						if tag.description
							span - #{tag.description}

				if tag.type == "return"
					if !hasReturn
						div.dox_tag_title Returns
						- hasReturn = true
					div.dox_tag_detail
						each type in tag.types 
							span.dox_type #{type}
						if tag.description
							span #{tag.description}

				if tag.type == "type"
					if !hasType
						div.dox_tag_title Type
						- hasType = true
					div.dox_tag_detail
						each type in tag.types 
							span.dox_type #{type}

				if tag.type == "api"
					div.dox_tag_title API
					div.dox_tag_detail 
						span.dox_type #{tag.visibility}

				if tag.type == "see"
					div.dox_tag_title See
					div.dox_tag_detail
						if tag.url
							a(href="#{tag.url")
								if tag.title
									#{tag.title}
								else
									#{tag.url} 
						if tag.local
							span.dox_type #{tag.local}

	div.body !{description.body}
