a.styledocco-brand(href="#{project.root}index.html") #{project.name}
ul.styledocco-nav
  each links, folder in project.menu
    unless folder == './'
      li.styledocco-nav-heading #{folder}
    each link in links
      li
        a(href="#{project.root}#{link.href}")
          #{link.name}
