.navbar
  .container
    - var name = context.config.project_name ? context.config.project_name : 'Readme';
    a.brand(href="#{root_path}index.html") #{name}
    ul.nav
      each source in context.sources
        - var base_path = relative_base(source, context)
        - var base_path_padded = base_path.replace(new RegExp("/", 'g'), " / ");
        - var this_class = (source == file_path) ? "is-active" : "";
        - var base_name = path.basename(source, path.extname(source));
        li
          a(class="#{this_class}", href="#{root_path}#{base_path}#{base_name}.html")
            #{source}
