.navbar
  nav.container
    a.brand(href="#{project.root}index.html") #{project.name}
    ul.nav
      each link in project.links
        li
          a(class="#{link.class}", href="#{project.root}#{link.href}", title="#{link.path}")
            #{link.name}
