a.styledocco-brand(href="#{project.root}index.html") #{project.name}
ul.styledocco-nav
  each link in project.links
    li
      a(href="#{project.root}#{link.href}", title="#{link.path}")
        #{link.name}
