- var root_path = relative_base(file_path, context)
- root_path = (root_path == "./") ? root_path : root_path.replace(/[^\/]+/g, '..')
!!! 5
html
  head
    title=title
    meta( http-equiv='Content-Type', content='text/html', charset='UTF-8')
    link( rel='stylesheet', media='all', href="#{root_path}docco.css" )
  body
    div#container
      div#background
      if context.sources.length > 0
        include includes/menu
      table(cellpadding="0", cellspacing="0")
        thead
          tr
            th.docs
            th.code
        tbody
          tr(id="section")
            td.docs

              if package_json.name
                h3 Name
                p #{package_json.name}
              if package_json.description
                h3 Description
                p #{package_json.description}
              if package_json.author
                h3 Author
                p #{package_json.author}
              if package_json.version
                h3 Version
                p #{package_json.version}

              h3 Dependencies 
              ul
                each dep, key in package_json.dependencies
                  li 
                    b #{key} 
                    span #{dep}
              p
                if code_stats
                  h3 Stats
                  pre.code_stats !{code_stats}
            td#content.code !{content}  
      div#generated generated #{new Date()}  
      if context.project_name
        #projectname
          a(href="#{root_path}readme.html") #{context.project_name}
