- var root_path = relative_base(file_path, context)
- root_path = (root_path == "./") ? root_path : root_path.replace(/[^\/]+/g, '..')
!!! 5
html
  head
    title=title
    meta(charset='utf-8')
    link(rel='stylesheet', href="#{root_path}docs.css")
  body
    include menu
    .container
      h1 #{title}
      !{content}
    if context.config.show_timestamp
      footer.container Generated #{new Date()}
