!!! 5
html
  head
    title
      if title && project.name
        #{title} | #{project.name}
      else if project.name
        #{project.name}
      else if title 
        #{title}
    meta(charset='utf-8')
    if (resources.docs && resources.docs.css)
      style !{resources.docs.css}
    if (resources.previews && resources.previews.js)
      script(type="text/preview") !{resources.previews.js}
    if (resources.previews && resources.previews.css)
      style(type="text/preview") !{resources.previews.css}
  body
    nav.bar.top.cf
      .container
        a.brand(href="index.html") #{project.name}
        ul.menu
          - var dropdownid = 0
          each links, folder in project.menu
            if folder != './' || links.length > 10
              - if (folder === './') folder = 'files'
              - dropdownid++
              li
                a.dropdown-toggle(href="#",data-toggle="dropdown-#{dropdownid}",href="#",unselectable="on") #{folder}
                ul.dropdown(id="dropdown-#{dropdownid}",hidden)
                  each link in links
                    li: a(href="#{link.href}") #{link.name}
            else
              each link in links
                li: a(href="#{link.href}") #{link.name}

        .nav
          button(title="Table of Contents",data-toggle="nav-toc")
            svg.icon(viewBox="0 0 512 512",height=22,width=22)
              path(d="M108.9,403.1V462H50v-58.9H108.9z M108.9,285.4H50v58.9h58.9V285.4zM108.9,50H50v58.9h58.9V50z M108.9,167.7H50v58.9h58.9V167.7z M167.7,344.3H462v-58.9H167.7V344.3zM167.7,50v58.9H462V50H167.7z M167.7,462H462v-58.9H167.7V462z M167.7,226.6H462v-58.9H167.7V226.6z")
          input.search(type="search",placeholder="Search")

    section.container
      each section, i in sections
        article.section(id="#{section.slug}")
          .docs
            a.permalink(href="##{section.slug}")
              svg.icon(viewBox="0 0 512 512",height=32,width=32)
                path(d="M156.2,199.7c7.5-7.5,15.9-13.8,24.8-18.7c49.6-27.3,113.1-12.8,145,35.5l-38.5,38.5c-11.1-25.2-38.5-39.6-65.8-33.5c-10.3,2.3-20.1,7.4-28,15.4l-73.9,73.9c-22.4,22.4-22.4,58.9,0,81.4c22.4,22.4,58.9,22.4,81.4,0l22.8-22.8c20.7,8.2,42.9,11.5,64.9,9.9l-50.3,50.3c-43.1,43.1-113,43.1-156.1,0c-43.1-43.1-43.1-113-0-156.1L156.2,199.7z M273.6,82.3l-50.3,50.3c21.9-1.6,44.2,1.6,64.9,9.9l22.8-22.8c22.4-22.4,58.9-22.4,81.4,0c22.4,22.4,22.4,58.9,0,81.4l-73.9,73.9c-22.5,22.5-59.1,22.3-81.4,0c-5.2-5.2-9.7-11.7-12.5-18l-38.5,38.5c4,6.1,8.3,11.5,13.7,16.9c13.9,13.9,31.7,24.3,52.1,29.3c26.5,6.4,54.8,2.8,79.2-10.6c8.9-4.9,17.3-11.1,24.8-18.7l73.9-73.9c43.1-43.1,43.1-113,0-156.1C386.6,39.2,316.7,39.2,273.6,82.3z")
            !{section.docs}
          if section.code
            .code
              pre: code !{section.code}
    .bar.bottom
      .settings.container(hidden)
        // Icons from http://iconmonstr.com
        button(title="Desktop (1280)",data-width=1280)
          svg.icon(viewBox="0 0 412 386",height=24,width=26)
            path(d="m147.6,343.9c-4.5,15.9-26.2,37.6-42.1,42.1h201c-15.3,-4-38.1,-26.8-42.1,-42.1H147.6zM387,0.5H25c-13.8,0-25,11.2-25,25V294c0,13.8 11.2,25 25,25h362c13.8,0 25,-11.2 25,-25V25.5C412,11.7 400.8,0.5 387,0.5zM369.9,238.2H42.1L42.1,42.6 369.9,42.6V238.2z")
        button(title="Laptop (1024)",data-width=1024)
          svg.icon(viewBox="0 0 384 312",height=23,width=28)
            path(d="m349.2,20.5c0,-11-9,-20-20,-20H53.6c-11,0-20,9-20,20v194H349.2v-194zm-27,167H60.6V27.5H322.2v160zm28,42H32.6L2.6,282.1c-3.5,6.2-3.5,13.8 0.1,19.9 3.6,6.2 10.2,9.9 17.3,9.9H363.1c7.1,0 13.7,-3.8 17.3,-10 3.6,-6.2 3.6,-13.8 0,-20l-30.2,-52.5zm-196.9,54 8,-23.5h60.5l8,23.5h-76.5z")
        button(title="Tablet (768)",data-width=768)
          svg.icon(viewBox="0 0 317 412",height=24,width=18)
            path(d="M 316.5,380 V 32 c 0,-17.7 -14.3,-32 -32,-32 H 32 C 14.3,0 0,14.3 0,32 v 348 c 0,17.7 14.3,32 32,32 h 252.5 c 17.7,0 32,-14.3 32,-32 z M 40,367 V 45 H 276.5 V 367 H 40 z m 109.8,22.7 c 0,-4.7 3.8,-8.5 8.5,-8.5 4.7,0 8.5,3.8 8.5,8.5 0,4.7 -3.8,8.5 -8.5,8.5 -4.7,0 -8.5,-3.8 -8.5,-8.5 z")
        button(title="Smart phone (320)",data-width=320)
          svg.icon(viewBox="0 0 224 412",height=24,width=13)
            path(d="M 190.7,0 H 33 C 14.8,0 0,14.8 0,33 v 346 c 0,18.2 14.8,33 33,33 h 157.7 c 18.2,0 33,-14.8 33,-33 V 33 c 0,-18.2 -14.8,-33 -33,-33 z M 94.3,30.2 h 37 c 2.2,0 4,1.8 4,4 0,2.2 -1.8,4 -4,4 h -37 c -2.2,0 -4,-1.8 -4,-4 0,-2.2 1.8,-4 4,-4 z m 18.5,362.8 c -8.8,0 -16,-7.2 -16,-16 0,-8.8 7.2,-16 16,-16 8.8,0 16,7.2 16,16 0,8.8 -7.2,16 -16,16 z M 198.6,343.8 H 25.1 V 68.2 h 173.5 v 275.5 z")
        button(title="Feature phone (240)",data-width=240)
          svg.icon(viewBox="0 0 201 412",height=24,width=12)
            path(d="M 165.5,0.2 V 45 H 25 c -13.8,0 -25,11.2 -25,25 V 387 c 0,13.8 11.2,25 25,25 h 150.5 c 13.8,0 25,-11.2 25,-25 V 0.2 h -35 z M 65.2,366.5 H 34.2 v -24.5 h 31 v 24.5 z m 0,-44.3 H 34.2 v -24.5 h 31 v 24.5 z m 50.5,44.3 H 84.7 v -24.5 h 31 v 24.5 z m 0,-44.3 H 84.7 v -24.5 h 31 v 24.5 z m 50.5,44.3 h -31 v -24.5 h 31 v 24.5 z m 0,-44.3 h -31 v -24.5 h 31 v 24.5 z m 0,-59.3 h -132 V 95.4 h 132 V 262.9 z")
        button.auto.is-active(title="Auto (100%)",data-width="auto") Auto
    if (resources.docs && resources.docs.js)
      script !{resources.docs.js}
<!-- Generated with StyleDocco (http://jacobrask.github.com/styledocco). -->
